@charset "UTF-8";
html {
	height:100%;
	width:100%;
}
*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
body {
	margin:0;
	padding:0;
    overflow:hidden;
	font-family: 'Roboto', sans-serif;
	position:relative;
	height:100%;
	width:100%;
	
	box-shadow: 0 0 100px rgba(0,150,257,0.5) inset;
	
	background: #ffffff;
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #f9fbff 51%, #e5f0ff 88%, #e5f3ff 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(51%,#f9fbff), color-stop(88%,#e5f0ff), color-stop(100%,#e5f3ff));
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#f9fbff 51%,#e5f0ff 88%,#e5f3ff 100%);
	background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#f9fbff 51%,#e5f0ff 88%,#e5f3ff 100%);
	background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#f9fbff 51%,#e5f0ff 88%,#e5f3ff 100%);
	background: radial-gradient(ellipse at center,  #ffffff 0%,#f9fbff 51%,#e5f0ff 88%,#e5f3ff 100%);
	
	color: #909b9f;
	font-size: 14px;
	text-shadow:1px 1px 3px rgba(0,0,0,0.5);
}
.menu {
	height: 100%;
	position:relative;
	padding: 1em;
	z-index:2;
	overflow-y: scroll;
	pointer-events: none;
}
#evo {
	position: absolute;
	top: 0;
	width:100%;
	height:100%;
	
}
#evo > canvas {
	width:100%;
	height:100%;
}
@media screen AND (max-width:767px) {
	#evo {
		left:0px;
	}
}
.clearfix:before,
.clearfix:after {
	content:"";
	display:table;
}
.clearfix:after {
	clear:both;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
    color: aliceblue;
}
h1 > span {
	color:#909b9f;
	font-size: 0.75em;
	text-transform: uppercase;
	font-weight: 100;
}
.menu-title {
    margin: 0;
    font-size: 3.2em;
    text-align: center;
    font-weight: 800;
    margin-bottom: -0.1em;
	pointer-events: none !important;
}
.menu > * {
	max-width: 210px;
	pointer-events: auto;
}
.menu-subtitle {
    text-transform: uppercase;
    font-size: 0.9em;
    margin: 0.1em 0 3em;
    text-align: center;
    color: #73848A;
}
fieldset {
    margin: 3em 0 2em;
    padding: 0.4em 1em 1em;
    border-color: #777;
    border-radius: 1em;
    background-color: rgba(0,0,0,0.075);
    width: 100%;
}
.legend {
    color: #749FB3;
    font-size: 1.25em;
    text-align: center;
    font-weight: 800;
    text-shadow: 0em 0em 0.5em rgba(255, 255, 255, 0.43);
    letter-spacing: 0.05em;
    background: #FFF;
    border-radius: 1em;
    padding: 0.1em 0.4em 0.2em;
    box-shadow: 0 0 1em rgba(0, 113, 189, 0.17);
    border: 2px solid #B5C6CF;
    margin: -1.2em auto 0.8em;
    width: 80%;
}
label {
    display: block;
    margin-top: 0.6em;
    font-size: 0.9em;
    text-shadow: 0.1em 0.1em 0.1em #fff;
    color: #525252;
    font-weight: 600;
}
.range-input {
	position:relative;
	font-size: 0.9em;
	color: #000;
	text-shadow: 0 0 7px #fff;
	background: #FFF;
	border: solid 1px #aaa; width: 100%; 
	padding: 0.3em 2em;
	border-radius: 0.7em;
	box-shadow: inset 1px 3px 4px rgba(0, 0, 0, 0.07);
	margin: 0.2em 0;
}
.range-input-min, .range-input-max {
	position:absolute;
	width:2em;
	text-align: center;
	top: 0.45em;
}
.range-input-min {
	left:0;
}
.range-input-max {
	right:0;
}
.range-input-big-max {
	padding-right:3em;
}
.range-input-big-max .range-input-max {
	width:3em;
}
input[type="range"] {
	width:100%;
}
div.back-button span {
    padding-left: 0em;
    display: inline-block; border-radius: 5em; padding: 0 0.6em; 
    box-shadow: -0.2em 0.2em 0.6em rgba(0, 103, 162, 0.3);
}
.back-button.show {
	display:block;
}
.section-navigator > .button {
    display: block;
    width: 95%;
    margin: 0.6em auto 0.4em;
    text-decoration: none;
    font-size: 1em;
    text-transform: none;
}
.section-wrapper {
    position: relative;
}
.section-wrapper > * {
    display: none;
}
.section-level1 {
    position: absolute;
    width: 100%;
    opacity: 1;
    top: 0;
    left: 0;
	display:block;
    -moz-transform: scale(1); 
    -webkit-transform: scale(1); 
    transition: -webkit-transform 500ms ease-in-out, -moz-transform 500ms ease-in-out, opacity 500ms ease-in-out;
}
.level2-showing .section-level1 {
    opacity: 0;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    pointer-events: none;
}
.section-level2 {
    -webkit-transform: scale(0.5); 
    -moz-transform: scale(0.5); 
    transition: -webkit-transform 500ms ease-in-out, -moz-transform 500ms ease-in-out, opacity 500ms  ease-in-out;
    opacity: 0;
    display: block !important;
    pointer-events: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
	-moz-transform-origin:50% 120px;
	-webkit-transform-origin:50% 120px;
}
.level2-showing .section-level2 {
    -moz-transform: scale(1); 
    -webkit-transform: scale(1); 
    opacity: 1;
    pointer-events: auto;
}
.section-subsection {
	position:absolute;
	top:0;
	opacity:0;
	pointer-events: none;
	
    transition: opacity 500ms  ease-in-out;
}
.section-subsection.show {
	top:0;
	opacity:1;
	pointer-events: auto;
}
.back-button {
    position: absolute; 
    top: 2.2em; 
    right: -0.6em; z-index: 2;
}
@media screen and (max-width:767px) {
	.menu {
		height: 5.5em;
		width: 100%;
		font-size: 0.9em;
		padding: 0.5em 1em;
	}
	.menu-title, .menu-subtitle {
		text-align:left;
	}
}